<h2 class="page-header">Rentals 
	<!-- Function Buttons -->
	<button class="btn btn-success pull-right" data-toggle="modal" data-target="#startModal" (click)="clearCustInfo()">Start Rental</button>
</h2>

<!-- Rental List -->
<div *ngIf="rentals">
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let rental of rentals">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
	      	<b>Rental ID:</b> <div>{{rental._id}}</div>
	      	<hr>
	      	<b>Status:</b> <div *ngIf="rental.status" class="text-success">Active</div> <div *ngIf="!rental.status" class="text-danger">Returned</div>
	      </div>
	      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
	      	<b>Customer ID:</b> <div>{{rental.customerId}}</div>
	      	<hr>
	      	<b>Customer Name:</b> <div>{{rental.customerName}}</div>
	      </div>
	      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
	      	<b>Start Date:</b> <div>{{rental.date | date:"medium"}}</div>
	      	<hr>
	      	<b>Duration (Minutes):</b> <div>{{rental.duration}}</div>
	      </div>
	      <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="overflow-wrap:break-word;">
	      	<b>Total:</b> <div>{{rental.total | currency:'CAD':'1.2-2'}}</div>
	      	<hr>
	      	<b>Bikes:</b> <div>{{rental.bikeId}}</div>
	      </div>
    	</div>
    	<hr>
    	<!-- Function Buttons -->
    	<div class="row">
	      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
	      	<button *ngIf="rental.status" type="button" class="btn btn-primary btn-xs" (click)="onAddBike(rental)" data-toggle="modal" data-target="#addBikeModal">Add Bike</button>
	      	<button *ngIf="rental.status" type="button" class="btn btn-primary btn-xs" (click)="onDelBike(rental)" data-toggle="modal" data-target="#delBikeModal">Remove Bike</button>
	      	<button *ngIf="rental.status" type="button" class="btn btn-primary btn-xs" (click)="onEditRental(rental)" data-toggle="modal" data-target="#editModal">Edit Time</button>
	      	<button *ngIf="rental.status" type="button" class="btn btn-primary btn-xs" (click)="onRetBike(rental)" data-toggle="modal" data-target="#retBikeModal">Return Bike</button>
	      	<button type="button" class="btn btn-danger btn-xs pull-right" (click)="onDelRental(rental)">Delete Rental</button>
	      </div>
    	</div>
    </li>
	</ul>
</div>

<!-- Start Rental Modal -->
<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Customer Info</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>Name</label>
					<input type="text" [(ngModel)]="cust.name" name="custName" class="form-control">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clearCustInfo()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="getCustId()" data-dismiss="modal">Create Rental</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Rental Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rental Info</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>Rental ID:</label>
					{{this.rental._id}}
				</div>
				<div class="form-group">
					<label>Customer Name:</label>
					{{this.cust.name}}
				</div>
				<div class="form-group">
					<label>Date (Please change according to format)</label>
					<input type="text" [(ngModel)]="editDate" id="rentalDate" class="form-control">
				</div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" (click)="editToCurrent()">Use Current Time</button>
        <button type="button" class="btn btn-default" (click)="resetEdit()">Reset Change</button>
        <button type="button" class="btn btn-primary" (click)="onEditSubmit()" data-dismiss="modal">Change Time</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Bike Modal -->
<div class="modal fade" id="addBikeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearSelectedBikes()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rental Info</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>Rental ID:</label>
					{{this.rental._id}}
				</div>
				<div class="form-group">
					<label>Customer Name:</label>
					{{this.cust.name}}
				</div>
				<div class="form-group">
					<label>Date:</label>
					{{this.rental.date | date:"medium"}}
				</div>
				<div class="form-group">
					<label>Bike</label>
					<label *ngFor="let inBike of inBikes" class="form-control">
		        <input type="checkbox" (change)="updateChecked(inBike)"> ID: {{inBike._id}} | Model: {{inBike.model}}
		    	</label>
				</div>
      </div>
      <div class="modal-footer">
        <button *ngIf="selectedBikes.length !== 0" type="button" class="btn btn-primary" (click)="onAddBikeSubmit()" data-dismiss="modal">Add Bike</button>
      </div>
    </div>
  </div>
</div>

<!-- Remove Bike Modal -->
<div class="modal fade" id="delBikeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearSelectedBikes()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove Bike</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>Rental ID:</label>
					{{this.rental._id}}
				</div>
				<div class="form-group">
					<label>Customer Name:</label>
					{{this.cust.name}}
				</div>				
				<div class="form-group">
					<label>Date:</label>
					{{this.rental.date | date:"medium"}}
				</div>
				<div class="form-group">
					<label>Bike</label>
					<label *ngFor="let outBike of outBikes" class="form-control">
		        <input type="checkbox" (change)="updateChecked(outBike)"> ID: {{outBike._id}} | Model: {{outBike.model}}
		    	</label>
				</div>
      </div>
      <div class="modal-footer">
        <button *ngIf="selectedBikes.length !== 0" type="button" class="btn btn-primary" (click)="onDelBikeSubmit()" data-dismiss="modal">Remove Bike</button>
      </div>
    </div>
  </div>
</div>

<!-- Return Bike Modal -->
<div class="modal fade" id="retBikeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearSelectedBikes()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Return Bike</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>Rental ID:</label>
					{{this.rental._id}}
				</div>
				<div class="form-group">
					<label>Customer Name:</label>
					{{this.cust.name}}
				</div>
				<div class="form-group">
					<label>Date:</label>
					{{this.rental.date | date:"medium"}}
				</div>
				<div class="form-group">
					<label>Duration:</label>
					{{this.rental.duration}} minutes
				</div>
				<div class="form-group">
					<label>Bike</label>
					<label *ngFor="let outBike of outBikes" class="form-control">
		        <input type="checkbox" [checked]="selectAll" (change)="updateChecked(outBike)"> ID: {{outBike._id}} | Model: {{outBike.model}}
		    	</label>
		    	<button type="button" class="form-control" id="all" (click)="selectAllBikes();">Select All</button>
				</div>
      </div>
      <div class="modal-footer">
				<div class="pull-right">
        	<button *ngIf="selectedBikes.length !== 0" type="button" class="btn btn-primary" (click)="onRetBikeSubmit()" data-dismiss="modal">Return Bike</button>
        </div>
      </div>
    </div>
  </div>
</div>