<h2 class="page-header">
	Bikes 
	<a class="btn btn-success pull-right" data-toggle="modal" data-target="#addModal" (click)="clearBikeInfo()">Add Bike</a>
	<a class="btn btn-danger pull-right" data-toggle="modal" data-target="#delModelModal" (click)="clearModelInfo()">Delete Model</a>
	<a class="btn btn-primary pull-right" data-toggle="modal" data-target="#editModelModal" (click)="clearModelInfo()">Update Model Price</a>
	<a class="btn btn-success pull-right" data-toggle="modal" data-target="#addModelModal" (click)="clearModelInfo()">Add Model</a>
</h2>

<div *ngIf="list">
	<ul class="list-group">
		<!-- Bike List Filter-->
		<li class="list-group-item">
			<div class="row">
			  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
			    <input class="form-control" type="number" [(ngModel)]="bikefilter._id" placeholder="ID">
			  </div>
			  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
			    <select class="form-control" [(ngModel)]="bikefilter.model">
			    	<option selected="selected" [ngValue]="null">All</option>
				    <option *ngFor="let model of bikeModels" [ngValue]="model">{{model}}</option>
			    </select>
			  </div>
			  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
			    <input class="form-control" type="text" [(ngModel)]="bikefilter.status" placeholder="Status">
			  </div>
			  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
			    <input class="form-control" type="number" min="4.5" max="12.5" step="0.5" [(ngModel)]="bikefilter.price" placeholder="Price">
			  </div>
		  </div>
		</li>
		<!-- Bike List -->
		<li class="list-group-item" *ngFor="let bike of list | bfilter:bikefilter">
			<div class="row">
	      <div class="col-md-2 col-sm-4 col-xs-6 text-center">
	      <b>ID:</b> {{bike._id}}
	      </div>
	      <div class="col-md-2 col-sm-4 col-xs-6 text-center">
	      <b>Model:</b> {{bike.model}}
	      </div>
	      <div class="col-md-2 col-sm-4 col-xs-6 text-center">
	      <b>Status:</b> {{bike.status}}
	      </div>
	      <div class="col-md-2 col-sm-4 col-xs-6 text-center">
	      <b>Price:</b> {{bike.price}}
	      </div>
	      <div class="col-md-4 col-sm-12 col-xs-12 text-center"> 
	      	<button type="button" class="btn btn-primary btn-xs pull-left" (click)="onEditBike(bike)" data-toggle="modal" data-target="#editModal">Edit Bike</button>
	      	<button type="button" class="btn btn-danger btn-xs pull-right" (click)="onDelBike(bike)">Delete Bike</button>
	      </div>
    	</div>
    </li>
	</ul>
</div>

<!-- Add Bike Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearBikeInfo()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Bike</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>ID</label>
					<input type="number" [(ngModel)]="currBike._id" name="id" class="form-control">
				</div>
				<div class="form-group">
					<label>Model</label>
					<select class="form-control" [(ngModel)]="currBike.model">
				    <option *ngFor="let model of bikeModels" [ngValue]="model">{{model}}</option>
			    </select>
				</div>
				<div class="form-group">
					<label>Price</label>
					<input type="number" [(ngModel)]="currBike.price" name="price" class="form-control">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clearBikeInfo()">Clear</button>
        <button type="button" class="btn btn-primary" *ngIf="currBike._id && currBike.model && currBike.price" (click)="onAddSubmit()" data-dismiss="modal">Add Bike</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Bike Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearBikeInfo()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Bike {{currBike._id}}</h4>
      </div>
      <div class="modal-body" *ngIf="prevBike.status === 'in'">
				<div class="form-group">
					<label>Model</label>
					<select class="form-control" [(ngModel)]="currBike.model">
				    <option *ngFor="let model of bikeModels" [ngValue]="model">{{model}}</option>
			    </select>
				</div>
				<div class="form-group">
					<label>Status</label>
					<input type="text" [(ngModel)]="currBike.status" name="status" class="form-control">
				</div>
				<div class="form-group">
					<label>Price</label>
					<input type="number" [(ngModel)]="currBike.price" name="price" class="form-control">
				</div>
      </div>
      <div class="modal-body" *ngIf="prevBike.status !== 'in'">
      	<h3 class="text-danger">Bike is currently out and cannot be modified.</h3>
      </div>
      <div class="modal-footer" *ngIf="prevBike.status === 'in'">
        <button type="button" class="btn btn-default" (click)="undoEdit()">Reset</button>
        <button type="button" class="btn btn-primary" *ngIf="currBike.model && currBike.status && currBike.price" (click)="onEditSubmit()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Model Modal -->
<div class="modal fade" id="addModelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModelInfo()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Model</h4>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<label>Model</label>
					<input type="text" [(ngModel)]="modelName" name="model" class="form-control">
				</div>
				<div class="form-group">
					<label>Price</label>
					<input type="number" [(ngModel)]="modelPrice" name="price" class="form-control">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clearModelInfo()">Clear</button>
        <button type="button" class="btn btn-primary" *ngIf="modelName && modelPrice" (click)="onAddModelSubmit()" data-dismiss="modal">Add Model</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Model Modal -->
<div class="modal fade" id="delModelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModelInfo()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Model</h4>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<label>Model</label>
					<select class="form-control" [(ngModel)]="modelName">
				    <option *ngFor="let model of this.bikeService.modelList" [ngValue]="model.name">{{model.name}}</option>
			    </select>
				</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="modelName" (click)="onDelModelSubmit()" data-dismiss="modal">Delete Model</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Model Price Modal -->
<div class="modal fade" id="editModelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModelInfo()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Model</h4>
      </div>
      <div class="modal-body">
				<!-- <div class="form-group">
					<label>Model</label>
					<select class="form-control" [(ngModel)]="modelName">
				    <option *ngFor="let model of this.bikeService.modelList" [ngValue]="model.name">{{model.name}}</option>
			    </select>
				</div> -->
				<div class="form-group">
					<label>Price</label>
					<input type="text" [(ngModel)]="modelPrice" name="price" class="form-control">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clearModelInfo()">Clear</button>
        <button type="button" class="btn btn-primary" *ngIf="modelName && modelPrice" (click)="onEditModelSubmit()" data-dismiss="modal">Update Model</button>
      </div>
    </div>
  </div>
</div>