<div *ngIf="this.rentalService.returnDetails" id="rentalDetails">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
          <b>Rental ID</b> <div>{{rentalService.returnDetails.rental._id}}</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
          <b>Customer Name</b> <div>{{rentalService.returnDetails.cust.name}}</div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <b>Start Time</b> <div>{{rentalService.returnDetails.rental.date | date:"medium"}}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <b>Return Time</b> <div>{{rentalService.returnDetails.endDate | date:"medium"}}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <b>Duration (Minutes)</b> <div>{{rentalService.returnDetails.rental.duration}}</div>
        </div>
      </div>
    </li>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><b>Bike ID</b></th>
          <th><b>Model</b></th>
          <th><b>Rate</b></th>
          <th><b>Subtotal</b></th>
          <th><b>Tax</b></th>
          <th><b>Total</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bikeDetail of rentalService.returnDetails.bikeCostDetails">
          <td>{{bikeDetail.bike._id}}</td>
          <td>{{bikeDetail.bike.model}}</td>
          <td>{{bikeDetail.bike.price}}</td>
          <td>{{bikeDetail.subTotal | currency:'CAD':'1.2-2'}}</td>
          <td>{{bikeDetail.tax | currency:'CAD':'1.2-2'}}</td>
          <td>{{bikeDetail.total | currency:'CAD':'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <b>Subtotal</b> <div>{{rentalService.returnDetails.subTotal | currency:'CAD':'1.2-2'}}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <b>Tax</b> <div>{{rentalService.returnDetails.taxTotal | currency:'CAD':'1.2-2'}}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <b>Total</b> <div>{{rentalService.returnDetails.total | currency:'CAD':'1.2-2'}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <button type="button" class="btn btn-default" (click)="rentalService.print('rentalDetails')">Print Page</button>
    <button [disabled]="this.rentalService.returnDetails.rental.discountUsed == true || this.rentalService.returnDetails.cust.discount <= 0" type="button" class="btn btn-info" (click)="applyDiscount()">Discount $5</button>
    <button *ngIf="this.rentalService.returnDetails" type="button" class="btn btn-primary" (click)="onRetSubmit()">Return Bike</button>
    <button type="button" class="btn btn-danger btn-xs pull-right" (click)="goBack()">Go Back</button>
  </div>
</div>
